
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
huggingface_hub==1.15.0
ipykernel==7.2.0
matplotlib==3.10.9
matplotlib-inline==0.2.2
nltk==3.9.4
numpy==2.4.5
pandas==3.0.3
plotly==6.7.0
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
sentence-transformers==5.5.0
shap==0.51.0
spacy==3.8.14
streamlit==1.57.0
torch==2.12.0
transformers==5.8.1
wordcloud==1.9.6
xgboost==3.2.0
